body {font-family: 'Roboto Condensed', sans-serif; margin: 0}
ul, li {margin: 0; padding: 0; list-style: none}
a {text-decoration: none; color: #000;}
p {font-size: 1.125em}
h2 {font-size: 1.125em; text-transform: uppercase;}
h2 a{color: #000}
h3 {color: #BBD531; font-weight: normal; font-family: 'Roboto', sans-serif;}
i{cursor:pointer;}
/*.sortable{cursor:move;}*/
.clear {clear: both;}
.container {max-width: 1180px; margin: 0 auto; padding-left:20px; padding-right:20px; }

/* H E A D E R */
header {height: 5em; padding-top: 1.250em; position: relative;}
.marca {background: url(../images/jma.png) no-repeat; background-size: 100% auto; width: 640px; height: 95px; position: absolute; top: 1em; z-index: 100; display: inline-block;}
.marca span {display: none}

.redesH {float: right; margin: 2em 0.5em 0 0;}
.redesH li {display: inline-block;}
.redesH a {display: block; width: 30px; height: 30px; margin-right: 5px; background-image: url(../images/redes.png);}
.redesH span {display: none;}
.redesH .facebook {background-position: 0 0}
.redesH .twitter {background-position: 90px 0}
.redesH .linkedin {background-position: 60px 0}
.redesH .youtube {background-position: 30px 0}
.redesH .facebook:hover {background-position: 0 30px}
.redesH .twitter:hover {background-position: 90px 30px}
.redesH .linkedin:hover {background-position: 60px 30px}
.redesH .youtube:hover {background-position: 30px 30px}


.suscribirse {float: right; width: 16em; margin-top: 0.5em; text-align: center}
	.suscribirse form {position: relative;}
	.suscribirse label {margin-bottom: 0.3em; display: block}
	.suscribirse input[type="email"]{border: 1px solid #93AF52; border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; font-size: 0.9em; padding: 0.3em 0.7em; text-align: center; width: 100%}
	.suscribirse .flecha {cursor:pointer; position: absolute; background: url(../images/flecha.png) no-repeat; border:none; display: block; width: 45px; height: 58px; right: -12px; top: -14px;}

/* slide */
.contentSlide {position: relative;}
.slide {min-height: 380px; border-bottom: 5px solid #BEC7B4 }
.slide img {width: 100% !important; height: auto !important; left: 0 !important;}
.imgSlide {display: none; border-bottom: 5px solid #BEC7B4; max-height: 256px; overflow: hidden; font-size: 0}

.btnVideo {display: inline-block; width: 154px; height: 55px; position: absolute; left: 0; bottom: 0; z-index: 1000}
.fancybox-slide--inline .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
}

/* N A V */
nav {position: relative; z-index: 10;}
.menu {float:right;}

section {padding-top: 3em; min-height: 20em; position: relative;}

/* F O O T E R */
footer {position:relative; margin-top: 2.500em; padding: 1px 120px 10px 30px; color:white; background: #bad433; }
footer p {font-size: 1em}
.hoja {position: absolute; top:-15px; right: 10px}


/* H O M E */
.colTextoHome {float: left; width:5em; padding-right: 1em }
.colTextoHome .certificaciones{}
.colTextoHome .certificacionesA{display: none;}

h1 {font-size: 1.125em; font-weight: 400; margin-top: 3em; margin-left: 5.2em;}
.colFotosHome {float: left; width:14.5em; margin-right:2.375em  }
	.colFotosHome p {padding-left: 1em}
.colCertain {float: right; width:14.5em;}
.colCertain h2 {color: #107ABF;}

/* Q U I E N E S  S O M O S */
.colTextos {width: 55%; float: left; margin-right: 1.5%; box-sizing: border-box;}/*40.500em*/
.colFotos {width:42% ; float: right; position: relative;}/*31em*/

/* P L A N T A */
.galeriaPlanta {padding-left:1em; position: relative; margin-bottom: 4em}
	.galeriaPlanta img {display: inline-block; width: 12.2%; height:auto; margin-right: 2%; transition: 1.5s ease;-moz-transition: 1.5s ease;-webkit-transition: 1.5s ease;-o-transition: 1.5s ease; position: relative; top: 1.5em; z-index: 100}
	.galeriaPlanta img:last-child {margin-right: 0;}
	.galeriaPlanta img:hover {transform: scale(1.7);-moz-transform: scale(1.7); -webkit-transform: scale(1.7); -o-transform: scale(1.7); -ms-transform: scale(1.7);}

/* P E R F I L E S,  D R Y W A L L,  S T E E L */
.modContenidoPagEst h3 {font-family: 'Roboto Condensed', sans-serif; }

.solapas {width: 55%; float: left; margin-right: 1.5%; box-sizing: border-box;}/* max-width: 40.500em; */
.solapas li {background: transparent !important; border: none !important}
.solapas li span {line-height: 2.2em;}
.ui-tabs .ui-tabs-nav li:last-child {position: absolute; right: 0}

.tablasPerfiles,  .tablasDrywall, .tablasSteel {padding-top: 2em; }
.bandaGris {background: #BEC7B4; padding: 0.1em 1em; vertical-align: middle; position: relative; top:2px; z-index: 100 }
	.bandaGris a span {display: none; }
	.bandaGris > span {line-height: 38px; display: block; float: left; }
	.bandaGris li:first-child {margin-right: 2em !important}
	.btnIcon {float: right;}
	a.verGuia {background: url(../images/btnVer.png) no-repeat 0 6px; display: inline-block; width:90px; height: 38px; margin-right: 2em }
	a.ocultarGuia {background: url(../images/btnOcultar.png) no-repeat 0 6px; display: inline-block; width:90px; height: 29px; margin-right: 2em; cursor:pointer !important; }
	a.descargar {background: url(../images/btnDescargar.png) no-repeat; display: inline-block; width:171px; height: 38px; }

.bandaNaranja {background: #F16322; color: #fff; padding: 0.5em 1em; text-align: center; font-size: 22px}
h4.subtitulos {color: #BAD532; text-align: center;font-size: 20px }
.suma {text-align: center}

.col50 {width:48%;}
.tablaDerecha {text-align: right;}

/* N O T I C I A S */
.fecha {margin-top: 0; color: #BAD532 }
.bajada {color: #BAD532}
.listaNoticias {margin-top: 1em}
.listaNoticias li {border-bottom: 1px solid #BAD532; margin-bottom: 1.3em; padding-bottom: 1em}
.listaNoticias li a {color: #000;}
.listaNoticias .divImgNoticia {float: left; width: 230px; margin-right: 1em;}
.listaNoticias .divImgNoticia img {width: 100%; }
.listaNoticias .divInfoNoticia {margin-left: 230px;}
.divNoticia {}
	.divNoticia .divCpoNoticia {}
	.divNoticia .imgCpoNoticia {}
	.divNoticia .imgCpoNoticia img {width: 100%; height: auto}
.epigrafe {font-size: 1em}

.pagination {float: right;}
.pagination li {display: inline-block; padding: 0 0.3em;}
.pagination li a, .pagination li.active span, .pagination li.disabled span {display: block; width:1.5em; height: 1.5em; line-height: 1.5em; text-align: center; color: #fff; }
.pagination li a {background: #93AF52;}
.pagination li.active span {background: #BBD531;}
.pagination li.disabled span {background: #E8EFD8;}

/* C O N T A C T O */
.colForm {width: 28%; float: left; margin-right: 2% }
.colContentMapas {width: 69%; float: right;}
	.colMapa1 {width: 48%; float:left;}
	.colMapa2 {width: 48%; float:right; position: relative;}
	.colMapa1, .colMapa2 {display: table-cell; vertical-align: bottom; height: 500px; font-size: 17px}
	.colMapa1 > p, .colMapa2 > p {margin-top: 0}
.colContentMapas iframe {width: 100%; height: 315px; border:#BAD532 1px solid; margin-top: 5px; box-sizing:border-box;}
.data-fiscal {position: absolute; top: 80px; right: 0; height: 80px; width: auto;}

.dir, .tel, .mail, .ind {padding-left: 36px; background-repeat: no-repeat; background-position: left top; }
.dir {background-image: url(../images/ico-dir.png);}
.ind {background-image: url(../images/ico-ind.png); padding-top: 1.3em; padding-left: 38px !important;}
.tel {background-image: url(../images/ico-tel.png); line-height: 29px;}
.mail {background-image: url(../images/ico-mail.png); line-height: 29px;}
.marcaContacto {margin-top: 1.1em;}
	.logoContacto {}/*float: left*/
	/*.redes {float: right; width: 130px; margin-top: 0.5em;}
	.redes span {display: none;}
	.redes li {display: inline-block;}
	.redes a {display: block; width: 37px; height: 37px; }
	.redes .face {background: url(../images/face.png) no-repeat; margin-right: 0.3em}
	.redes .twitter {background: url(../images/twitter.png) no-repeat; margin-right: 0.3em}
	.redes .linkedin {background: url(../images/linkedin.png) no-repeat;}*/

.colForm input[type="text"], .colForm input[type="email"] {background: #fff; border: 1px solid #BAD532;  padding: 5px 12px; font-family: 'Lato', sans-serif; font-size: 16px; margin-bottom: 8px; width: 100%;  box-sizing:border-box;}
.colForm textarea{border: 1px solid #BAD532; font-family: 'Lato', sans-serif; font-size: 16px; height: 200px; width: 100%; margin-bottom: 1em; box-sizing:border-box;  }
.enviar {background:#BAD532; border:none; color:#fff; font-size: 16px; padding: 0.625em 0.938em; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; }
.enviar:hover {background: #93AF52; }
.copy {margin-top: 2.5em; font-size: 14px}
.copy a {color:black; text-decoration: none}

/* Generales */
.floatRight {float: right;}
.floatLeft {float: left}
.bordeVerde {border:#BAD532 2px solid}
.bordeCeleste {border:#107ABF 2px solid}
.bordeVerdeLateral {border-top:#BAD532 2px solid; border-left:#BAD532 2px solid;}
.bordeLateralBajo {border-bottom:#BAD532 2px solid; border-left:#BAD532 2px solid;}
.bordeLateral {border-left:#BAD532 2px solid;}
.txtVerde {color: #BAD532}
.leftNeg {position:relative; left: -2px}
.paddingTextos {padding-left: 1em;padding-top: 1em;}
	.paddingTextos > * {margin-top: 0}
.marginBottom05 {margin-bottom: 0.5em }	
.marginBottom1 {margin-bottom: 1em !important}
.marginBottom2 {margin-bottom: 2em !important}

.items {margin-left: -6px; font-size: 1.125em; background: none !important}
.items li {list-style-image: url(../images/item.png) !important; padding-left: 8px; position: static !important;}
.pItem {margin-left: -21px; margin-bottom: 0.5em; background: url(../images/item.png) no-repeat 0 8px; padding-left: 20px}

.ampliar {transition: 1.5s ease;-moz-transition: 1.5s ease;-webkit-transition: 1.5s ease;-o-transition: 1.5s ease; width: 100%;}
.ampliar:hover {transform: scale(1.4);-moz-transform: scale(1.4); -webkit-transform: scale(1.4); -o-transform: scale(1.4); -ms-transform: scale(1.4);}

/* estilos 2017 */
.contentTit { }
.contentTit h3 {display: inline-block; color: #5F6162 !important;font-family: 'Roboto Condensed', sans-serif !important; font-size: 22px;font-weight: bold !important; text-transform: uppercase; line-height: 20px; margin-right: 15px}
.contentTit h3 span {color: #107ABF; font-size: 19px}
.contentTit img {display: inline-block; position: relative; top: 2px}

.pIconos {margin: 1em 0 3em; position: relative; left: -30px}
.pIconos p{margin:0; line-height: 25px}
.pIconos img {position: relative; display: inline-block; margin-right: 10px; width: 23px !important; height: 23px !important;}

#certCertain .pItem {margin-top: 0; margin-bottom: 0.3em}
#certCertain .col1 {float: left; width: 75%}
#certCertain .col2 {float: right; width: 25%; text-align: right;}
#certCertain .certifico1 {width: 97px !important;}
#certCertain .certifico2 {display: none; width: 300px !important;}

.logo-gypc-ch {position: relative; top:10px;}

.solapas h4 {margin: 25px 0 10px}

/* Calendario */

.fc-event, .fc-event-dot {background-color: #93AF52 !important; border:0;}
.fc-day-grid-event .fc-content {white-space: normal !important}
.fc-day-grid-event {padding: 0 3px}
.fc-event {font-size: 1em}




/* M E D I A  Q U E R I E S */

@media screen and (max-width: 1190px) {
	.colFotosHome {width:20.5%; margin-right:2% }
	.colCertain {width:20.5%;}
		.colFotosHome img {width: 100%; height: auto;}
	}
	.colFotos img {width: 100%; height: auto;}
	.suma {width: 134px !important; height: 134px !important;   margin: 0 auto;}
	
}

@media screen and (max-width: 1120px) {
	header {height: auto; text-align: center}
	.marca {position: static; margin-bottom: 0.5em;}
	.suscribirse {float: none; margin: 0 auto;}
	.redesH {float: none; margin: 0.5em 0 ;}
}

@media screen and (max-width: 1110px) {
	.ui-tabs .ui-tabs-nav li {float: none;}
	.ui-tabs .ui-tabs-nav li:last-child {position: static;}
	.marca {width:460px; height: 80px; top: 30px;}
}

@media screen and (max-width: 1080px) {
	.logoContacto {float: right;}
	/*.redes {width: 300px; text-align: right;}*/
	.slide {min-height: 350px;}
	.ui-tabs-panel img, .tablasPerfiles img, .col50 img {width: 100%; height: auto;}
}

@media screen and (max-width: 1010px) {

.colTextoHome .certificaciones{display: none;}
.colTextoHome .certificacionesA{display: inline-block;}
.colTextoHome {width: 100%; text-align: center; float: none;}
.colFotosHome {width:22%; margin-right:2% }
.colCertain {width:22%;}
h1 {margin:1.5em 0; }
h2 {font-size: 1em}
}

@media screen and (max-width: 1000px) {
	.galeriaPlanta img {width: 17.5%; margin: 1%;}
	.galeriaPlanta img:nth-child(6), .galeriaPlanta img:nth-child(7) {display: none;}
	.colMapa1, .colMapa2 {font-size: 1em}
	.slide {min-height: 300px;}
}


@media screen and (max-width: 940px) {
	.data-fiscal {display: none;}
	.colMapa1, .colMapa2 {font-size: 1.125em}
	.slide {min-height: 260px;}
	.marca {background: url(../images/jma-admin.png) no-repeat center; width: 280px; height: 90px; top: 10px;}
}

@media screen and (max-width: 910px) {
	section {padding-top: 0}
	.colForm {width: 70%; margin: 2em auto 3em; float: none; }
	.copy {display: none;}
	.colContentMapas {width: 100%; float: none;}
	.data-fiscal {display: block;}	
}
@media screen and (max-width: 850px) {
	.slide {min-height: 200px;}
}

@media screen and (max-width: 800px) {
	.listaNoticias .divImgNoticia {width: 130px;}
	.listaNoticias .divInfoNoticia {float: none; margin-left: 150px;}
}	

@media screen and (max-width: 767px) {
	header {height: auto}
	.slide {min-height: 160px;}
	.marca {background: url(../images/jma-admin.png) no-repeat center; width: 100%; position: static;}
	.marca img {width: 100%; height: auto}
	.redesH {float: none; margin: 0 auto 0.5em; width: 200px; text-align: center;}
	.suscribirse {float: none; margin: 0.5em auto}
	.btnVideo {position: static; display: block; margin: 0 auto 0.5em}
}

@media screen and (max-width: 710px) {
	
	.colFotosHome h2 {height: 2.5em;}
	.colTextos, .colFotos, .solapas, .col50 {width: 100%; float: none;}
	.colMapa1, .colMapa2 {font-size: 1em}
	.solapas {margin-bottom: 3em}
	.items {padding-bottom: 1em}
	.bordeLateral {border:none;}
}

@media screen and (max-width: 670px) {
	.colFotosHome h2 {height: 2em; font-size: 1.1em}
	.colFotosHome p {font-size: 1em}
	.galeriaPlanta img {width: 22%; margin: 1%;}
	.galeriaPlanta img:nth-child(5) {display: none;}
	.colForm {width: 100%;}
	.colMapa1, .colMapa2 {width: 100%; float: none; display: block}
	.marcaContacto img {width: 100%; height: auto}
}

@media screen and (max-width: 650px) {
	.slide {display: none }
	.imgSlide {display: block}
	.imgSlide img {width: 100%; height: auto;}
}

@media screen and (max-width: 500px) {
	.colFotosHome h2 {height: 2em; font-size: 1.1em}
	.colFotosHome p {font-size: 1em}
	.galeriaPlanta img {width: 47%; margin: 1%;}
	.colFotosHome, .colCertain {width:100%; margin-right:0; margin-bottom: 2em }
}