/* C O L O R E S 

azul:#0e4b70;
celeste:#066493;
celeste:hover: #0B83B2;

rojo:#D62B0F;

*/

ul, ol, li{margin: 0; padding: 0; list-style: none}
a{text-decoration: none;}
h1, h2, h3, h4{font-weight: 300}
h2{font-size: 1.625em; margin-bottom: 1em}
h3{font-size: 1.5em}
h4{font-size: 1.5em}
img{width: 100%; height: auto; border:0;}
i{cursor:pointer;}
.sortable{cursor:move;}
.clear{clear: both;}

body{margin: 0; font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 1.3em; color: #0e4b70; }
input{font-family: 'Source Sans Pro', sans-serif;font-size: 16px;}
.container{max-width: 73.750em; padding-left:1.250em; padding-right: 1.250em; margin: 0 auto; position: relative;}

header{background: #0e4b70; height: 6.250em;}
header h1{float:left; margin: 0.5em 0 0}
header .menuSuperior{float: right; margin-top: 2.3em;}
header .menuSuperior li{display: inline-block; }
header .menuSuperior li:first-child a{border-right: 1px solid #fff}
header .menuSuperior a{color: #fff; padding: 0 0.9em}

.slider,.slides {overflow: hidden; position: relative; max-height: 324px;}
.slides img{left: 0 !important; width: 100% !important; height: auto !important; } 
.txtDestacado{background: rgba(0,15,20,0.5); padding: 0.3em; color: #FFF;text-align: center;position: absolute; bottom: 0; z-index: 910; width: 100%}
.txtDestacado p{font-size: 1.350em; line-height: 1.5em; text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7); -webkit-text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.7);}
.txtDestacado span{font-weight: 600}
.txtDestacado .container {max-width: 60em}
.certificacion{background: url(../images/bureau-veritas.png); font-family: 'Roboto Condensed', sans-serif; color:#fff; width: 250px; height: 116px; padding:0 1em; position: absolute; right: 0;top: 10%; z-index: 900; box-sizing:border-box;}
.certificacion p{display: none; }/* #d3002d*/

section{padding: 3em 0}
section h2{border-bottom: 1px solid #C6C6C6;}
section h2 span{border-bottom: 4px solid #D62B0F; padding-bottom: 0.5em; display: inline-block;}

section h2 span a.volveraSeccion{color:#0e4b70;}
section h2 span a.volveraSeccion:hover{color:#0B83B2;}

/* footer */
footer{background:#eee; padding: 3.3em 0 2em 0;}
footer .container{min-height: 170px}
footer h3{color:#0E4B70; font-weight: 300; font-size: 1.625em; margin-top:0 }
footer form{float: left; width: 60%}
footer .col{width: 38%; float: left; margin-right: 2%}
footer .col2{width: 60%; float: left; }
footer input[type="text"], footer input[type="email"]{width: 100%; display: block}
footer textarea{width: 100%; height: 8.5em; margin-bottom: 0.7em}
footer input[type="submit"]{text-transform: uppercase;}
footer .info{width: 40%; float: right; text-align: right;}
footer p{font-size: 1.250em; color: #6D6D6D; padding-right: 40px; margin:0.5em 0; line-height: 20px}
footer a{color: #6D6D6D; }
footer p.tel, footer p.dir, footer p.mail{background: url(../images/iconosFooter.png) no-repeat}
footer p.dir{background-position: right 0;}
footer p.tel{background-position: right -20px;}
footer p.mail{background-position: right -38px;}

/* contacto */
.contacto h3{font-weight: 400}
.contacto p{color:#6D6D6D; font-size: 1.250em; font-weight: 400; margin: 0.6em 0;}
.contacto a{color: #6D6D6D; }
.contacto form, .contacto .mapa{margin-top: 1.5em}
.contacto input[type="text"],.contacto input[type="email"], .contacto textarea{width: 100%; display: block}
.contacto .mapa iframe{width: 100%; height: 23.3em;  border:0;}

/* listas de productos */

.catalogo {vertical-align: top; border-top: 1px solid #C6C6C6; padding-top: 1em}
.catalogo li {display: inline-block; color:#0E4B70; width: 18%; margin:0 1.6% 2% 0; position:relative;}
.catalogo img {width: 100%}
.catalogo p{margin: 0}
.catalogo .marca{font-size: 1.125em; font-weight:600 ; margin-bottom: 0.4em}
.precio, .consulte{display: inline-block; float: left; height: 26px; line-height: 26px; width: 62%; text-align: center; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
.precio{background: #D62B0F; color: #fff; font-size: 1.125em;}
.consulte{background: #0e4b70; color: #fff; font-size: 1em; cursor:pointer;}
a.detalle{background: #D1D2D3; color: #0e4b70;display: inline-block; float: right; height: 26px; line-height: 26px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; width: 35%; text-align: center;}
a.detalle:hover{background: #C5E1F1; }

.marcaPrincipal{width: 100px; height: auto}
.marcaPrincipal img, .marcaSecundaria img{width: 100%; height: auto}
.marcaSecundaria{width: 100px; height: auto}

/* listas de productos V2 */

.divProductos {vertical-align: top; border-top: 1px solid #C6C6C6; padding-top: 1em}
.contenedorSecciones .divProductos:nth-child(1){border-top:0; }
.divProductos h3{margin-top: 0.3em}
.ulProductos{margin: 0 -0.625em}
.ulProductos li{background:#fff; float:left; margin:2em 0.9%; width: 18.2%; box-sizing: content-box; position: relative; text-align: left}
.ulProductos li img{width: 100%; display:block !important }
.iconos{padding: 0.5em 0.5em 0.563em; height: 1em; border-bottom: 1px dashed #C6C6C6;}
.iconos i{cursor: pointer}
.iconos .fa-pencil{margin-right: 0.5em}


.ulProductos p{margin: 0}
.ulProductos .tituloProducto{height: 45px;display: table-cell; vertical-align: bottom;}
.ulProductos .marca{font-size: 1.125em; font-weight:600 ; margin-bottom: 0.4em}
.ulProductos li .modalConsulte{position: absolute; padding: 0.6em 0.8em 0.8em ; top: 0; left: 0; background: #eee;border: 1px solid #C4C6C6; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.7); -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.7); box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.7); display: none;}
	.modalConsulte i{position: absolute; top:5px; right: 5px; cursor: pointer}
	.modalConsulte input[type="text"], .modalConsulte input[type="email"]{width: 100%; font-size: 16px;}

/* Detalle de Producto */

.precioTit{font-weight:300; margin: 1em 0 !important; font-size: 1.5em; color: #D62B0F}
.precioTit span{font-weight: 600}

.col70{width: 58%; float: left;}
	.imgProd{width: 40%; float: left; }
	.slideProducto{max-width: 340px; position: relative;margin-bottom: 3em; }
	.slideProducto .slides{height:400px; overflow: hidden; }
	.slideProducto .slides li{height:400px; }
	.slideProducto .slides img{width: 100%; height: auto}
	.slideProducto p{color:#A8A8A8; position: relative; z-index: 300;text-align: center; }
	.detalleProd{width: 55%; float: right; min-height: 100px}
	.detalleProd p{margin: 0.4em 0}
	.detalleProd h2{font-weight: 600; border: none; margin: 0; line-height: 1em}
	.detalleProd .marcaPrincipal{margin: 1.5em 0 0 0;}
	.detalleProd .marcaSecundaria{margin: 1.5em 0 0 0;}
	.detalleProd .marcaSecundaria>h4{}

.flex-prev, .flex-next {background:url(../images/flechas.png) no-repeat; position: absolute; top:10em; z-index: 50; display: block; width: 12px; height: 24px; text-indent: -9999px}
.flex-prev {left: 0; background-position: 0 0}
.flex-prev:hover {background-position: 0 -24px}
.flex-next {right: 0; background-position: -12px 0px}
.flex-next:hover {background-position: -12px -24px}

.col30 {width: 38%; float: right; min-height: 100px}
	.telHead {background: #D62B0F url(../images/telefono.png) no-repeat 15px 1.125em; color: #fff; font-size: 1.3em; padding: 0.6em 0.6em 0.6em 3.3em; margin-bottom: 0.5em;line-height: 1.25em; box-sizing: border-box;}
	.telHead .num {font-size: 1.6em}
	.telHead .num strong {font-weight: 600}

.formCol {width: 100%; background:#eee; padding: 1em; box-sizing: border-box;}
.formCol h4 {margin-top: 0; font-size: 1.5em; color:#0e4b70;font-weight: 300;}
.formCol input[type="text"], input[type="email"] {width: 100%;}
.formCol input[type="submit"] {text-transform: uppercase}
.formCol textarea {width: 100%; height:8.5em; margin-bottom: 1em;}

/* elementos de form */
.btnNaranja {background:#066493; color:#fff; border:none; padding: 0.625em 0.938em; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; }
.btnNaranja:hover {background: #0B83B2;}
.btnNaranjaMin {background:#066493; color:#fff; border:none; padding: 0.2em 0.938em; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; cursor: pointer }
.btnNaranjaMin:hover {background: #0B83B2;}

input[type="text"], input[type="email"], input[type="password"] {background: #fff; border: 1px solid #C4C6C6; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; padding: 0.5em 0.7em; margin-bottom: 0.7em; font-size: 1.125em; box-sizing: border-box;}
textarea {background: #fff; border: 1px solid #C4C6C6; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; display: block; padding: 0.5em 0.7em;font-family: 'Source Sans Pro', sans-serif; font-size: 1.125em; box-sizing: border-box; }

/* Genéricos */
.aclaracion {color:#B2B2B2; }

.naranja {color: #D62B0F}
.borderTop {border-top: 1px solid #DEDFE0}
.fondoDestacado {background: #EFEFEF}

.floatRight {float: right;}
.floatLeft {float: left}

.marginRight5 {margin-right: 0.5em;}
.marginRight {margin-right: 1em;}
.marginRight1-5 {margin-right: 1.5em;}
.marginBottom05 {margin-bottom: 0.5em !important}
.marginBottom1 {margin-bottom: 1em !important}
.marginBottom2 {margin-bottom: 2em !important;}

.padding1 {padding: 1em; box-sizing:border-box !important;}
.sinPadding {padding-right: 0 !important}



.descargarPDF {background: url(../images/pdficon_large.png) no-repeat;color:#0e4b70; padding: 10px 0 0 40px; height: 32px;display: inline-block;margin-right: 0.5em;}
.descargarPDF:hover {color:#0B83B2;}

a.laura {display:block; width:210px; height:15px; background:url(../images/laura-chuburu.png); position:absolute; bottom: 0; right:20px;}
a.laura span {display:none}
a.laura:hover {background-position:bottom}



/* -------- A D M I N ----------*/

.descargar {float:right; font-size:0.9em; text-decoration: none; color:#008DDA; padding-right: 24px; margin-top:4px; background: url(../images/descargar.png) no-repeat right center}
.destacado {display:block; width:88px; height: 86px; background: url(../images/destacado.png); position: absolute; top:-4px; left:-4px; text-indent: -9999px}



/* Genéricos */

.block {display: block}
.anchoTotal{width: 100%; box-sizing: border-box}

.col50 {width:47%;}/*ver porque no me toma el max-width*/
.col25 {width:17em }
.col60 {width: 43.750em}
.col40 {width: 28.750em}

.menu {text-align: center; padding: 30px} /* revisar los estilos de este menu, NO ME GUSTAN*/
.menu li {display: inline-block; margin: 5px}

.bgGris {background: #eee; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 1.250em;margin-bottom: 5em }

.btn, .btnGris, .btnCalado, .btnSec{cursor:pointer; display: inline-block;}
.btn i, .btnGris i, .btnCalado i, .btnSec i{margin-right: 0.313em}

.btn {background:#3074B1; color:#fff; border: 1px solid #255A8B; padding: 0.625em 0.938em; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; }
.btn:hover {background: #4593D6; border:1px solid #3488D5;}

.btnGris {background:#EFEFEF; color:#0E4B70; border: 1px solid #D1D2D3; padding: 0.625em 0.938em; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em;}
.btnGris:hover {background: #CCCCCC; border:1px solid #999999;}

.btnSec {color:#3074B1; padding: 0.625em 0.938em;}
.btnSec:hover, .btnSec:hover i:before{color: #53AEFD ;}

.btnCalado {display:inline-block; color:#fff; padding: 0.625em 0.938em;}
.btnCalado i:before {color:#3074B1;}
.btnCalado:hover i:before {color: #53AEFD;}



.alertError {}
.alertOk{display:block; background: rgba(0,178,0,0.2); border: #008C00 1px solid; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; padding: 0.6em 1em; color: #008C00; margin-bottom: 2em;}

/* elementos de F O R M */
.grupoForm {}
.grupoForm p {margin-bottom: 0.8em; margin-top: 0; font-weight: 300}
.consigna {color:#666; margin-bottom: 1em !important; font-weight: 400 !important}

/*input[type="text"], input[type="password"]{background: #fff; border: 1px solid #CBCBCB; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; padding: 0.6em 1em; min-width: 13.750em }*/
select {background: #fff; border: 1px solid #CBCBCB; border-radius: 0.250em; -webkit-border-radius: 0.250em;-moz-border-radius: 0.250em;-o-border-radius: 0.250em; padding: 0.6em 1em; min-width: 13.750em; font-size: 0.95em;
font-family: 'Source Sans Pro', sans-serif; }
select option {padding:0.5em 0; border-bottom: 1px solid #333; color:#0e4b70;}
.selectMarca {margin-left: 10px}





/* M E D I A  Q U E R I E S */

@media screen and (max-width: 68.75em){
	footer form {width: 50%}
	footer .info {width: 50%;}
}

@media screen and (max-width: 61.875em){
	.txtDestacado {display: none}
	.certificacion {background-image: none; background-color: #b40030; position: static; width: 100%; height: auto; padding: 0.3em 2em}
	.certificacion p{display: block; text-align: right; font-weight: 300; margin: 0}
	.slider,.slides {height: auto;}

	.ulProductos li {width:23.2%}
	.home .ulProductos li:last-child {display: none;}
	
	.imgProd{width: 100%; float: none; }
	.detalleProd{width: 100%; float: none;}

}

@media screen and (max-width: 60em){
	
	.ulProductos {}
	.ulProductos li {width:31.2%;}
	.home .ulProductos li:nth-child(4) {display: none;}

	footer {height: auto; padding-bottom: 2em}
	footer form, footer .info {float: none; width: 100%}
	footer form {margin-bottom: 2em}
	footer .info {text-align: center}
	footer p.tel, footer p.dir, footer p.mail {background: none; padding-right:0;}
	.info p {display: inline-block; margin: 0.3em;}
	.telHead {background: #D62B0F url(../images/telefono.png) no-repeat center 1.125em; padding: 4.5em 0.6em 0.6em 0.6em;text-align: center;}
	.col50 {float:none; width: 100%}

	a.laura {display: none}
}

@media screen and (max-width: 46.000em){
	.menuSuperior {display: none}
	.ulProductos li {width:48%;}
	.home .ulProductos li:nth-child(4) {display: block;}
	.col70, .col30 {width: 100%; float: none;}
	.col30 {margin-top: 2em}
	.telHead {background: #D62B0F url(../images/telefono.png) no-repeat 15px 1.125em; font-size: 1.3em; padding: 0.6em 0.6em 0.6em 3.3em; text-align: left}
	.telHead .num {font-size: 1.6em}
	
}

@media screen and (max-width: 35.000em){
	footer .col, footer .col2 {float: none; width: 100%}
}

@media screen and (max-width: 27.000em){
	.ulProductos li {width:98%;}
	.selectMarca {margin: 10px 0 0 0; display: block;}
	.telHead {background: #D62B0F url(../images/telefono.png) no-repeat center 1.125em; padding: 4.5em 0.6em 0.6em 0.6em;text-align: center;}
}