
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
}

#cssmenu > ul > li {
  display: inline-block
}

/*BOTON PRINCIPAL*/
#cssmenu > ul > li > a {
  padding: 0.5em 0 0 0;
  width: 140px;
  height: 32px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(203,208,140,1);
  color: #fff;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;

}

/*HOVER*/
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
 background: #649A3F;
}

/*FLECHA*/
#cssmenu > ul > li.has-sub > a {}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 12px;
  right: 14px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}*/
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}

#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 30px;
  border-top: 1px solid white;
}
/*BOTONES SECUNDARIOS*/
#cssmenu ul ul li a {
  padding: 8px 0;
  width: 140px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: background .2s ease;
  -moz-transition: background .2s ease;
  -ms-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}
/*BOTONES SERVICIOS*/
#cssmenu ul ul li a.btn1 {background: #82AE62}
#cssmenu ul ul li a.btn1:hover {background: #A0C286}
#cssmenu ul ul li.active a.btn1 {background: #649A3F}
#cssmenu ul ul li a.btn2 {background: #A0C286}
#cssmenu ul ul li a.btn2:hover {background: #BFD6AC}
#cssmenu ul ul li.active a.btn2 {background: #649A3F}
#cssmenu ul ul li a.btn3 {background: #BFD6AC}
#cssmenu ul ul li a.btn3:hover {background: #D2E5C3}
#cssmenu ul ul li.active a.btn3 {background: #649A3F}

#cssmenu ul li:nth-child(3) a {background: #BBD531 !important}

/*#cssmenu ul ul li:hover > a {
  background: #649A3F!important;
}*/

#cssmenu > ul > li.btn0:hover > a {
 background: #649A3F!important;
}


@media all and (max-width: 785px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #fff;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #fff;
    background: rgba(203,208,140,1);
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(225, 225, 225, 1);
    height: 32px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 13px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 18px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
